# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/hkust-sc/target/
/hkust-mc/target/
/hkust-auth/target/
/hkust-common/target/
/hkust-data/target/
/hkust.iml